In [9]:
import nwslpy
import pandas as pd

In [5]:
teams = nwslpy.load_teams()
teams

,team_name,team_name_short,team_club_name,team_abbreviation,first_season,last_season,last_updated
team_id,,,,,,,
1,Boston Breakers,Boston Breakers,Boston Breakers,BOS,2016,2017,2023-03-20
2,Chicago Red Stars,Chicago Red Stars,Chicago Red Stars,CHI,2016,2023,2023-03-20
3,FC Kansas City,FC Kansas City,FC Kansas City,KC,2016,2017,2023-03-20
4,Houston Dash,Houston Dash,Houston Dash,HOU,2016,2023,2023-03-20
5,NJ/NY Gotham FC,NJ/NY Gotham FC,Gotham FC,NJY,2016,2023,2023-03-20
6,OL Reign,OL Reign,OL Reign,RGN,2016,2023,2023-03-20
7,Orlando Pride,Orlando Pride,Orlando Pride,ORL,2016,2023,2023-03-20
8,Portland Thorns FC,Portland Thorns FC,Portland Thorns,POR,2016,2023,2023-03-20
9,Washington Spirit,Washington Spirit,Washington Spirit,WAS,2016,2023,2023-03-20
10,Western New York Flash,Western New York Flash,Western New York Flash,WNY,2016,2016,2023-03-20
11,North Carolina Courage,North Carolina Courage,North Carolina Courage,NC,2017,2023,2023-03-20
12,Utah Royals FC,Utah Royals FC,Utah Royals,UTA,2018,2020,2023-03-20
13,Kansas City Current,Kansas City Current,Kansas City Current,KCC,2021,2023,2023-03-20
14,Racing Louisville FC,Racing Louisville FC,Racing Louisville,LOU,2021,2023,2023-03-20
15,Angel City FC,Angel City FC,Angel City,LA,2022,2023,2023-03-20
16,San Diego Wave FC,San Diego Wave FC,San Diego Wave,SD,2022,2023,2023-03-20

In [21]:
df = nwslpy.load_matches()
df = df[df["season"] == "2023"]
df = df.sort_values("kickoff")
df["kickoff"] = pd.to_datetime(df["kickoff"]).dt.date
df = df[
    ["home_team_id", "away_team_id", "kickoff", "home_team_score", "away_team_score"]
]
df = (
    df.set_index("home_team_id")
    .join(teams[["team_abbreviation"]])
    .rename(columns={"team_abbreviation": "home_team"})
)
df = (
    df.set_index("away_team_id")
    .join(teams[["team_abbreviation"]])
    .rename(columns={"team_abbreviation": "away_team"})
)
df = (
    df[["kickoff", "home_team", "away_team", "home_team_score", "away_team_score"]]
    .sort_values("kickoff")
    .reset_index(drop=True)
)
df

        kickoff home_team away_team  home_team_score  away_team_score
0    2023-03-25        NC       KCC                1                0
1    2023-03-25        SD       CHI                3                2
2    2023-03-26       POR       ORL                4                0
3    2023-03-26       HOU       LOU                0                0
4    2023-03-26        LA       NJY                1                2
..          ...       ...       ...              ...              ...
129  2023-10-15       NJY       KCC                0                0
130  2023-10-15       WAS        NC                0                0
131  2023-10-15       CHI       RGN                0                0
132  2023-10-15        SD       LOU                0                0
133  2023-10-15        LA       POR                0                0

[134 rows x 5 columns]

In [22]:
df.to_csv("web/data.csv")